[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
plotly = "*"
nbformat = "*"
ipykernel = "*"
ipython = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
